.ReactModal__Overlay {

    &--after-open {
        width: 70%;
        max-height: 700px;
        margin: auto;
        z-index: 999 !important;
    }

    .modal_icon_close {
        position: relative;
        top: 70px;
        left: 98%;
    }
}
