.ReactModal__Overlay {

    &--after-open {
        width: 80%;
        max-height: 72%;
        margin: auto;
        z-index: 999 !important;
    }

    .modal_icon_close {
        position: relative;
        left: 98.9%;
    }
}
