$colors: (
  green: #4CAF50,
  orange: #FF9800,
  red: #F44336,
  purple: #673AB7
);

$states: (
  ok: #66bb6a,
  warning: #ffa726,
  error: #ef5350
);

$theme: (
  base: #FAFAFA,
);

$theme-dark: (
  base: #303030
);

$text: (
  base: #212121,
  light: #757575,
  lighter: #e0e0e0,
  lightest: #fafafa,
);
