@import url('https://fonts.googleapis.com/css?family=Roboto');

// General styling
@import "styling/_variables/main.scss";
@import "styling/_mixins/main.scss";
@import "styling/grid/grid";
@import "styling/grid/visibility"; // Visibility last for precedence

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #FAFAFA;
}

#app {
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    main {
      flex-grow: 1;
      display: flex;
      > .row {
        flex-grow: 1;
      }
    }
  }
}
