.homePage {
  .search {
    display: flex;
    align-items: center;
    font-size: 1em;
    background: white;
    border: 1px solid black;
    font-size: 1.1em;

    svg {
      padding: 8px;
    }

    input {
      padding: 8px 0;
      flex-grow: 1;
      border: none;

      &:focus {
        outline: none;
      }
    }

  }

  .scrollable {
    padding: 0;

    .title {
      font-size: 1.5em;
      margin: 1em 0 0 0;
    }
  }

  .sidebar {
    .filter-group {
      h2 {
        display: flex;
        align-items: center;

        &:hover {
          .filter-group__sort {
            display: block;
          }
        }

        .filter-group__sort {
          margin: 0.45em 0 0 0.75em;
          font-size: 0.5em;
          line-height: 1em;
          color: #9e9e9e;
          display: none;

          &:hover {
            color: black;
            cursor: pointer;
          }
        }
      }
      .filters {
        .filter {
          &:hover {
            cursor: pointer;
          }
          .filter__checkbox {
            display: flex;
            align-items: center;
          }
          .filter__color {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0 0.75em 0 0;

            &--purple { background: #673AB7; }
            &--green { background: #4CAF50; }
            &--orange { background: #FF9800; }
            &--red { background: #F44336; }
          }
          .filter__amount-left {
            font-size: 0.7em;
            padding: 0 0.5em;
          }
        }
      }
    }
  }

}

.dark {
  .homePage {
    .search {
      color: #bdbdbd;
      background: #424242;
      border-color: #212121;
      input {
        color: #bdbdbd;
        background: #424242;
      }
    }
    .scrollable {
      .title {
        color: #bdbdbd;
      }
    }
    .sidebar {
      .filter-group {
        h2 {
          .filter-group__sort {
            color: #bdbdbd;

            &:hover {
              color: #F44336;
            }
          }
        }
      }
    }
  }
}
