.homePage {
  .search {
    display: flex;
    align-items: center;
    font-size: 1em;
    background: white;
    border: 1px solid black;
    font-size: 1.1em;

    svg {
      padding: 8px;
    }

    input {
      padding: 8px 0;
      flex-grow: 1;
      border: none;

      &:focus {
        outline: none;
      }
    }

  }

  .scrollable {
    padding: 0;

    .title {
      font-size: 1.5em;
      margin: 1em 0 0 0;
    }
  }

  .sidebar {
    .filter-group {
      h2 {
        display: flex;

        &:hover {
          .filter-group__sort {
            display: block;
          }
        }

        .filter-group__sort {
          margin: 0.25em 0 0 1em;
          font-size: 0.5em;
          line-height: 1em;
          color: #9e9e9e;
          display: none;

          &:hover {
            color: black;
            cursor: pointer;
          }
        }
      }
      .filters {
        .filter {
          &:hover {
            cursor: pointer;
          }
          .filter__checkbox {
            display: flex;
            align-items: center;

          }
        }
      }
    }
  }

}
